<a href="https://colab.research.google.com/github/Learnwithkarthik/Python-Practice/blob/main/pyhton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

string:

it should be represent in '' or " " or ''' '''

its a datatype

it can store in some variable or assigned to some variable

In [2]:
a = "karthik"
print(type(a))

<class 'str'>

In [3]:
a = ''' karthik is awesome
     sdfjsldkflksadf'''
print(type(a))

<class 'str'>

Indexing in string:

a = "karthik"

a = 0123456(positive Index)

or

a = -6 -5 -4 -3 -2 -1(Negative Index)

In [4]:
string = "Karthikeya"

print(string[0])

K

In [5]:
print(string[-1])

a

Slicing in Python strings:

string = "karthikeya"

print(string[1:3])

ar


print(s[1:3]) ----> start and stop and need to neglect 3rd index so:

ar

print(s[1:-1])

arthikey



print(s[:3])

kar

print(s[2:])

rthik

print(s[:-1])

karthi


print(s[::2])-------> start stop step -----> need to skip 2 characters

karthik

0123456

krhk


print(s[1::2]) ------> start, stop, skip

karthik

ati


print(s[1:3:1])

0123456

karthik

ar

In [7]:
string = "karthikeya"

print(string[1:3])

ar

In [8]:
s = "karthik"
print(s[1:4])

art

In [9]:
s = "karthik"
print(s[1:-1])

arthi

In [10]:
print(s[:3])

kar

In [11]:
print(s[2:])

rthik

In [12]:
print(s[:-1])

karthi

In [13]:
print(s[::2])

krhk

In [14]:
print(s[1::2])

ati

In [15]:
print(s[1:3:1])

ar

In [16]:
print(s[::-1])

kihtrak

string concatenation:

a = "karthik"

b = "eya"

c= "pasupula"

x = a+b+""+c

x=karthikeya pasupula

In [18]:
a = "karthik"

b = "eya"

c= "pasupula"

x = a+b+" "+c

print(x)

karthikeya pasupula

Length of string Concept:


x = "karthikeya"

print(len(x))

10

In [19]:
x = "karthikeya"

print(len(x))

10

string methods:


python provides numerous built in methods for manipulating string  such as converting , removing, whitespaces, replacing characters, splitting, joining

s = "karthik"

s1 = s.upper()

s1 = s.lower()

s1 = s.strip()

s1 = s.replace('character which needs to be replaced', 'with replace')

s1 = ('randomname'.count(character))

In [21]:
s = "karthikeya pasupula"
print(s.upper())
print(s.lower())
print(s.strip())
print(s.replace('k','i'))
print('karthik'.count('k'))

KARTHIKEYA PASUPULA
karthikeya pasupula
karthikeya pasupula
iarthiieya pasupula
2

string formatting:


s="karthikeya"

print(f" hi {s} , how are you.")

In [22]:
s="karthikeya"

print(f" hi {s} , how are you.")

 hi karthikeya , how are you.

Escape Sequence:

Generaaly if we to use ' in string value then it wont consider for example


s='karthikeya's'

Then it will condider only upto second '


so at that time we need to use escape sequence \'


'karthikeya\'s'


if want to go to new line use  \n

In [24]:
print('It\'s karthikeya world')

It 's karthikeya world

In [25]:
print('It\'s karthikeya \n world')

It's karthikeya
 world